header {
  background-color: rgb(134, 31, 134);
  padding: 3rem 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

header img {
  width: 4rem;
}

#navbar {
  display: flex;
  justify-content: space-around;

  width: 50rem;
}

#navbar a {
  color: white;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: bolder;

  padding: 1rem;

  background-color: rgba(255, 255, 255, 0.068);
  border-bottom: 0.5rem solid rgba(0, 0, 0, 0.39);

  transition: background-color 300ms;
  transition: color 300ms;
}

#navbar a:hover {
  background-color: rgba(0, 0, 0, 0.068);
  color: black;
  border-bottom: 0.5rem solid rgba(0, 0, 0, 0.493);
}

#responsive-nav {
  display: none;
}

header h1 {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;

  user-select: none;
}

header h1:hover {
  cursor: pointer;
}

.responsive-menu {
  display: none;
  flex-direction: column;
  background-color: rgb(134, 31, 134);

  float: right;

  width: 100%;
}

.responsive-menu a {
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;

  color: white;
  background-color: rgba(255, 255, 255, 0.116);

  padding: 2rem;
  border-bottom: 0.5rem solid rgba(0, 0, 0, 0.116);

  transition: background-color 250ms;
}

.responsive-menu a:hover {
  background-color: rgba(27, 28, 90, 0.116);
}

.responsive-menu.responsive {
  display: flex;

  animation: appear 1s;
}

.responsive-menu.responsive.disappear {
  animation: disappear 1s;
}
